{
    "$schema": "https://swc.rs/schema.json",
    "exclude": "node_modules/",
    "sourceMaps": true,
    "module": {
        "type": "commonjs"
    },
    "jsc": {
        "target": "esnext",
        "baseUrl": "./src",
        "paths": {
            "@engine/*": ["./engine/*"],
            "@plugins/*": ["./plugins/*"],
            "@server/*": ["./server/*"]
        },
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true,
            "dynamicImport": false
        }
    }
}
